body {
  font-family: Verdana;
  background-color: rgb(250, 250, 250);
}

img {
  border: 1px solid white;
  margin: 5px;
}

.large {
  width: 500px;
  float: right;
}

.selected {
  margin: 0;
  border: 6px solid #60b5cc;
}

.content {
  margin: 40px auto;
  width: 960px;
}

#thumbnails {
  width: 440px;
  float: left;
  clear: both;
}

#thumbnails.small img {
  width: 50px;
}

#thumbnails.med img {
  width: 100px;
}

#thumbnails.large img {
  width: 200px;
}

#choose-size {
  float: left;
  margin-left: 20px;
}

#choose-size>span {
  display: inline-block;
  margin: 0 10px;
}

h1 {
  color: #60b5cc;
  margin-bottom: 0;
}

h3 {
  float: left;
  margin: 0
}

label {
  vertical-align: bottom;
}

button {
  float: right;
  background-color: #60b5cc;
  border: 0;
  color: rgb(44, 44, 44);
  font-size: 24px;
  cursor: pointer;
  padding: 10px 30px;
}

button:hover {
  background-color: white;
}

#thumbnails,
img.large,
#choose-size,
h3 {
  margin-top: 20px;
}

ul {
  list-style-type: none
}

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
}

li {
  background-color: "#7ab986";
  color: white;
  font-family: "Roboto";
  padding: 15px;
  margin: 15px;
  width: 25%;
}

li:nth-child(odd) {
  background-color: #ff7043;
}

li:nth-child(even) {
  background-color: #29b6f6;
}

li.big-num {
  color: #424956;
  font-weight: 300;
  font-size: 1.5em;
}

.my-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  display: block;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
  outline: none;
}

.textfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
}

.inputlabel {
  bottom: 0;
  color: rgba(0, 0, 0, .26);
  font-size: 16px;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

deep-orange-400 {
  background-color: #ff7043 !important;
}

light-blue-400 {
  background-color: #29b6f6 !important;
}

amber-600 {
  background-color: #ffb300 !important;
}

deep-purple-300 {
  background-color: #9575cd !important;
}

card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.card__title {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  line-height: normal;
  padding: 16px;
  -webkit-perspective-origin: 165px 56px;
  perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
}

.card--border {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.card__actions {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}

.j-list__item--three-line {
  height: 88px;
}

.j-list__item,
.j-list__item .j-list__item-primary-content {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.j-list__item {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .04em;
  line-height: 1;
  min-height: 48px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 16px;
  cursor: default;
  color: rgba(0, 0, 0, .87);
  overflow: hidden;
}

.j-list {
  display: block;
  padding: 8px 0;
  list-style: none;
  width: 50%
}

.j-list__item-primary-content {
  height: 52px;
  line-height: 20px;
  display: block;
}

.j-list__item-avatar {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #757575;
  font-size: 40px;
  color: #fff;
}